@charset "utf-8";
* {margin: 0; padding: 0}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* resets */
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html, body {
    height: 100%;
}

body{
    margin:0;
    padding:0;
    min-height:100%;
    background-color: #CDCDCD;
}

.footer{
    bottom: 0;
    height: 60px;
    margin-top:30px;
    padding-top:20px;
}

p{

}

/* for page content to push down footer */

#container {
        margin: 0 auto -60px;
        padding-bottom: 60px;
        min-height: 100%;
        height: auto !important;
	width: 1200px;
	background-color: #FDF9F0;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

@media (max-width: 472px) {
	#container{
		width: 440px;
	}
	.row .thumbnail{
		margin-left: 60px;
	}
}

.h1-title{
	padding: 5px;
	color: #dab738;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2em;
}


/*----------end layout----------*/

#logo{
	width: 300px;
}

.nav{
	float: left;
	padding: 20px 0 0 0;
}


.navbar ul li a{
	color: #FDF9F0;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

.navbar ul li a:hover{
	background-color: transparent;
	color: #dab738;
}

.form-group .form-control{
	width: 150px;
}

.btn-default{
	margin-right: 40px;
}

.dropdown-menu li .ddl_link{
	color: #dab738;
	background-color: #FDF9F0;
}

@media screen and (max-width: 767px){
	.btn-default{
		margin-left: 55px;
	}
}

header{
}

/*----------end top----------*/

.left-row{
	float: left;
	margin: 0 0 100px 0;
	background-color: #FDF9F0;
	width: 600px;
}

.btn-primary{
	margin-right: auto;
	margin-left: auto;
	width: 80px;
	background-color: #606060;
	border: 1px solid #606060;
}

.btn-primary:hover{
	color: #606060;
	background-color: #e3e6e9;
}

/*------------------------end content--------------------------*/

#content{
	margin-top: -20px;
	margin-right: auto;
	margin-left: auto;
}

.carousel-inner .item img{
	clear: both;
	width: 1200px;
}

.carousel-control.left{
	background-color: hsl(0, 0%, 16%) !important;
	background-repeat: repeat-x;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	border-color: #282828 #282828 hsl(0, 0%, 11%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased;
	margin-left: 25px;
	margin-top: auto;
	margin-bottom: auto;
	width: 50px;
	height: 40px;
}

.carousel-control.right{
	background-color: hsl(0, 0%, 16%) !important;
	background-repeat: repeat-x;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	border-color: #282828 #282828 hsl(0, 0%, 11%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased;
	margin-right: 25px;
	margin-top: auto;
	margin-bottom: auto;
	width: 50px;
	height: 40px;
}

/*------------------------end image slider--------------------------*/

#content-recipes{

}


/*-----------------------end recipes------------------------*/

#copyright{
        float: right;
        margin-right: 15px;
	color: #CDCDCD;
	text-decoration: none;
	font-size: 13px;
	padding-left: 50px;
	padding-top: 15px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; 
}

#footer_nav{
	float: left;
	margin-top: 0px;
	padding-top: 10px;
}

#footer_nav ul{
	list-style: none;
	padding-left: 50px;
	padding-top: 2px;
}

#footer_nav li{
	display:inline;	
	margin:0 15px 0 0;	
}

#footer_nav a{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; 
}

#footer_nav a:hover{
	color: #bababa;
}

#media{
	float: right;
	margin-top: 0px;
	padding-top: 17px;
}

#media ul{
	list-style: none;
	padding-right: 50px;
	padding-top: 2px;
}

#media li{
	display:inline;	
	margin:0 15px 0 0;	
}

#media a{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

#media a:hover{
	color: #bababa;
}

/*-------- image gallery table (added Mar23) -JS----------*/
#image_upload_table{
    border: 1px solid black;
}
#image_upload_table thead th {
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
}

#image_upload_table tbody td{
    border: 1px solid black;
}

.breadcrumb{
    font-size: .85em;
    margin: auto;
    background-color: #FDF9F0;
}

/*      Admin Features layout       */
#main{
    padding: 0 30px 30px 30px;
    width: 900px;
}

.map{
    padding: 15px;
}

/*          rating          */
